body {
  margin: 0;
  padding-top: 5em !important;
}
body *:not(i) {
  font-family: 'Amaranth', sans-serif;
}
body ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05) !important;
  border-radius: 20px !important;
}
body ::-webkit-scrollbar-thumb {
  border-radius: 20px !important;
}
body ::-webkit-scrollbar {
  width: 5px !important;
}
.ui.fluid.container {
  padding: 1.5rem;
}
